<header>
  <div class="header-left">
    <h1>TinyAppX</h1>
  </div>
  <div class="header-right">
    <% if (username) {%>
      <form action="/logout" method="POST" style="margin:0px;">
        <h4>You are logged in as: <%= username %> <button type= "submit">Logout</button></h4>
      </form>
    <% } %>
  </div>
</header>

