<link rel="stylesheet" type="text/css" href="myStyles.css">
<body>
  <header>
    <div class = "header-left">
      <h1>TinyAppX</h1>
    </div>
    <div class = "header-right">
      <p><i>
        <% if (username) {%>
        <h4>You are logged in as: <%= username %></h4>
          <form action="/logout" method="POST" style="margin:150px;">
            <button type= "submit">Logout</button>
        </form>
        <% } %>
      </i></p>
    </div>
  </header>
</body>
