header {
  background-color: lightskyblue;
  height: 60px;
  margin-bottom: 20px;
}
.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-top: 15px;
}

table {
  border-style: hidden;
  border-radius: 14px;
  padding: 20px;
  text-align: left;
  font-size: 20 px;
  background-color: lightblue;
}
tr:hover{background-color:lightskyblue}
button {
  background-color: whitesmoke;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}