<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    form {
      border-style: hidden;
      border-radius: 14px;
      padding: 30px;
      text-align: left;
      font-size: 20 px;
      background-color: lightblue;
    }
  </style>
</head>
<body>
  <% include partials/_header %>
  <form action="/login" method="POST" style="margin:150px;">

    <label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="@gmail.com" style="width: 300px">
    <label for="password">Password:</label>
    <input id="password" type="text" name="password" style="width:300">
    <input type="submit" value="Login">

  </form>
</body>
</html>