<!DOCTYPE html>

<html lang="en">

  <head>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    </style>
  </head>

  <body>
    <% include partials/_header %>

    <a href="url">link text</a>

    <table style="width:100%">
      <!-- header for the table one time only -->
      <tr>
        <th>Short URLs</th>
        <th colspan="2">URLs</th>
      </tr>
      <!-- Data part of the Table -->
      <% for(var k in templateVars) { %>
        <tr>
          <td><%= k %></td>
          <td><%= templateVars[k] %>
        </tr>
      <% } %>
    </table> <!-- Table tag closes -->

  </body>

</html>