<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    </style>
</head>

<body>

<link href= "xxxxx">

<table style="width:100%">
  <tr>
    <th>URLs</th>
    <th colspan="2">Shorten URLs</th>
  </tr>
  <tr>
    <td>http://www.lighthouselabs.ca</td>
    <td>b2xVn2</td>
  </tr>
  <tr>
    <td>http://www.google.com</td>
    <td>9sm5xK</td>
  </tr>
</body>

</html>