<!DOCTYPE html>

<html lang="en">

  <head>
    <style>
      form {
        border-style: hidden;
        border-radius: 14px;
        padding: 50px;
        text-align: left;
        font-size: 20 px;
        background-color: lightblue;
      }
    </style>
  </head>

  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <h2>Create a short URL!</h2>

    <form action="/urls" method="POST" style="margin:150px;">

      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">

    </form>

  </body>

</html>