<!DOCTYPE html>

<html lang="en">

  <head>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    </style>
  </head>

  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>

    <table style="width:100%">
  <tr>
    <th>URLs</th>
    <th colspan="2">Shorten Form</th>
  </tr>
  <tr>
    <td>http://www.lighthouselabs.ca</td>
    <td>b2xVn2</td>
  </tr>

  </body>

</html>