<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="myStyles.css">
  </head>

  <body>
    <% include partials/_header %>
    <% if (!user) { %>
      <a href="/login"><button type= "submit">Login</button></a>
    <% } %>

    <div class="container">
      <table style="width:70%">
        <!-- header for the table one time only -->
        <tr>
          <th>Short URLs</th>
          <th colspan="2">URLs</th>
        </tr>
        <!-- Data part of the Table -->
        <% for(var k in urlDatabase) { %>
          <tr>
            <td><%= k %></td>
            <td><%= urlDatabase[k] %></td>
            <td><form method="POST" action="/urls/<%= k %>/delete"><button type= "submit"> Delete URL</button></form></td>
            <td><a href="/urls/<%= k %>"><button type= "submit">Edit URL</a></td>
          </tr>
        <% } %>
      </table> <!-- Table tag closes -->
      <a href="urls/new"><button type= "submit">Let's create a Tiny Link!</button></a>
    </div>
    

  </body>

</html>